* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;

  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);

  .container {
    position: relative;
    width: 327px;
    background: url('../../assets/images/bg-pattern-mobile.svg') #fff no-repeat
      top 10px center;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    padding: 50px 20px;
  }

  @media (min-width: 1440px) {
    .container {
      padding: 50px 20px 20px 0;
      width: 920px;
      min-height: 509px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      background: url('../../assets/images/bg-pattern-desktop.svg') #fff
        no-repeat top -270px left -580px;
    }
  }
}
